


// _aboutMe.scss
#aboutMe{
  // padding-top: 20%;
  
  h2{
    padding-top: 13%;
  }
}

.aboutMeFlexParent,
.textContainerFlexParent{
  display: flex;
  justify-content: space-evenly;
}
.profilePictureContainer{
  width: 40%;
  padding: 0 0 0 10%;
  margin-right: 10%;
  img{
    border-radius: 15px;
  }
}
.textContainerFlexParent{
  width: 40%;
  padding: 0 10% 0 0;
  color: $vsCodeCommentGrey;
}



//===== skills background =====/
.skillsIconBackground{
  margin-right:13%;
  margin-left: 13%;
  padding: 3% 0 8% 0;
  background-color: $vsCodeBlack;
  border-radius: 2%;
}





//===== skill list =====/
.skillListFlexParent,
.skillNamePairFlexParent{
  display: flex;
  align-items: center;
}


.skillListFlexParent{
  margin:0 auto;
  width: 75%;
  flex-wrap: wrap;
  // padding: 1%;
  justify-content: space-between;
  align-items: flex-start;
  ul{
    width: calc(100% / 4);
    padding-top:10%;
  }
  ul li{
    font-size: 3rem;
  }
  ul li img{
    max-width: 53px;
    margin-bottom: 1%;
    // this is to align the img with favicons
      // -this works together with padding top on p underneath the img
    padding-top:7.5px;
  }
  ul:nth-child(9){
    width: calc(100% / 4);
  }
  ul:nth-child(11){
    width:calc(100% / 4 * 3);
    padding-right: calc(100% / 4 * 2);
    li p{
      text-align: center;
      line-height: 1.3rem;
    }
  }
  ul:nth-child(8),
  ul:nth-child(9),
  ul:nth-child(10){
    li p{
      // this is to align the p under img with p under favicons
        // -this works together with padding top on img above the p
      padding-top:11.5px;
    }
  }
  ul:nth-child(6) i{
    font-size: 1.84rem;
  }
}

.skillNamePairFlexParent{
  flex-direction: column;
  align-items: center;
  color: $vsCodeCommentGrey;
  li p{
    color: $vsCodeCommentGrey;
    font-family: 'Niramit', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.textContainerFlexParent{
  flex-direction: column;
}