// _aboutMe.scss
.snapScrollParent{
  // for scroll snapping
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  .snapScrollChild{
    // height: 100vh;
    scroll-snap-align: center;
  }
}

.snapScrollCard{
  border-radius: 20px;
  background-color: rgba(0,0,0,0.3);
  margin: 10% 0 10% 0;
}

.aboutMe {
  margin-top: 10%;
}

.pictureAndTextContainer {
  width: 60%;
  margin-top: 10%;
}

.picturesContainer {
  img {
    border-radius: 15px;
    object-fit: cover;
  }

  margin-left: 5%;
  shape-outside: margin-box;
  // height as a fixed value is required for text wrapping
  // adjust this value manually for media query
  // width also is set as a fixed value to proper ensure text wrap
  width: 236px;
  height: 337px;
  float: right;
}



//===== smile pictures =====//
.picturesContainer {
  position: relative;
}

.pictureZero,
.pictureOne,
.pictureTwo,
.pictureThree {
  position: absolute;
  top: 0;
  left: 0;
}



//===== skills background =====/
.skillsIconBackground {
  margin-right: 13%;
  margin-left: 13%;
  padding: 3% 0 8% 0;
  background-color: $vsCodeBlack;
  border-radius: 2%;
}



//===== skill list =====//
.skillListFlexParent,
.skillNamePairFlexParent {
  display: flex;
  align-items: center;
}


.skillListFlexParent {
  margin: 0 auto;
  width: 75%;
  flex-wrap: wrap;
  // padding: 1%;
  justify-content: space-between;
  align-items: flex-start;

  ul {
    width: calc(100% / 4);
    padding-top: 10%;
  }

  ul li {
    font-size: 3rem;
  }

  ul li img {
    max-width: 53px;
    margin-bottom: 1%;
    // this is to align the img with favicons
    // -this works together with padding top on p underneath the img
    padding-top: 7.5px;
  }

  ul:nth-child(9),
  ul:nth-child(10) {
    width: calc(100% / 2);
  }

  ul:nth-child(11) {
    width: calc(100% / 4 * 3);
    padding-right: calc(100% / 4 * 2);

    li p {
      text-align: center;
      line-height: 1.3rem;
    }
  }

  ul:nth-child(8),
  ul:nth-child(9),
  ul:nth-child(10) {
    li p {
      // this is to align the p under img with p under favicons
      // -this works together with padding top on img above the p
      padding-top: 11.5px;
    }
  }

  ul:nth-child(6) i {
    font-size: 1.84rem;
  }
}

.skillNamePairFlexParent {
  flex-direction: column;
  align-items: center;
  color: $vsCodeCommentGrey;

  li p {
    color: $vsCodeCommentGrey;
    font-family: 'Niramit', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.textContainerFlexParent {
  flex-direction: column;
}