


// _animations.scss
body{
  position: relative;
}

.wholeScreenSpread{
  background-color: $vsCodeWhite;
  display: none;
  z-index: 20;
  width: 100%;
  height: 100%;
}

.active{
  display: block;
  position: absolute;
}

@keyframes slideFlashIn{
  0%{
    left: -100%;
  }
  70%{
    left:0;
  }
  100%{
    left:0;
  }
}
@keyframes slideFlashOut{
  0%{
    left: 0;
  }
  100%{
    left:-100%;
  }
}
.hiddenInputMessage{
  visibility: hidden;
  margin-left: 5%;
  margin-right:5%;
}
.hiddenInputParaVisible{
  visibility: visible;
  color: $vsCodeblue;
  opacity: .6;
}

.wrapperLight,
.aboutMeLight,
.projectsLight,
footer .footerDivLight,
.bodyDivLight
{
  background-color: $vsCodeWhite;
}

.spanLightRed{
  color:$vsCodeLightRed;
  font-size: 1.3rem;
}

.h1LightBlue{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color:$vsCodeLightTeal;
}

.h2Light{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color:$vsCodeLightTeal;
}

.skillsIconBackgroundLight{
  background-color: $vsCodeBackgroundGrey;
}

.fixedTopNavLight{
  background-color: $vsCodeBackgroundGrey;
}

.contactSubmitLight{
  background-color: $vsCodeCommentGrey;
  color: $vsCodeWhite;
  &:hover{
      background-color: $vsCodeOrange;
    }
}

.footerALight{
  color: $vsCodeCommentGrey;
  &:hover{
    color:$vsCodeOrange;
  }
}


// blinking cursor
#cursor{
  color: $vsCodeWhite;
}



// hiddenInput instruction animation
.FormAndInstructionFlexParent{
  margin-left: 5%;
  margin-top: 3%;
  display: flex;
  form{
    width: 20%;
  }
  p{
    width: 80%;
  }
}


.hiddenInput{
  width: 95%;
  border:none;
  color: $vsCodeCommentGrey;
}
input:focus{
  outline:none;
}

.inputDefault{
  background-color: $vsCodeBackgroundGrey;
  // color: $vsCodeCommentGrey;
}

.inputLight{
  background-color: $vsCodeWhite;
  // color: $vsCodeCommentGrey;
}




#cursor {
  font-size: 30px;
}

// 3 7 8   15  35  4
@keyframes instruction{
  0%{
    opacity: 0;
    color: $vsCodeOrange;
  }
  // 14%{
  //   opacity: 0;
  //   color: $vsCodeOrange;
  // }
  // 15%{
  //   opacity: .5;
  //   color: $vsCodeOrange;
  // }
  // 16%{
  //   opacity: 0;
  //   color: $vsCodeOrange;
  // }
  // 17%{
  //   opacity: .5;
  //   color: $vsCodeOrange;
  // }
  // 18%{
  //   opacity: 0;
  //   color: $vsCodeOrange;
  // }
  // 19%{
  //   opacity: .5;
  //   color: $vsCodeOrange;
  // }
  // 20%{
  //   opacity: 0;
  //   color: $vsCodeOrange;
  // }
  // 30%{
  //   opacity: 0;
  //   color: $vsCodeOrange;
  // }
  // 40%{
  //   opacity: .2;
  //   color: $vsCodeOrange;
  // }
  // 50%{
  //   opacity: .4;
  //   color: $vsCodeOrange;
  // }
  // 60%{
  //   opacity: .6;
  // }
  70%{
    opacity: .6;
    color: $vsCodeOrange;
  }
  100%{
    opacity: 0;
    color: $vsCodeOrange;
  }
}
.inputInstruction,
.inputInstructionAnimate{
  opacity: 0;
  margin-right: 10%;
}
.inputInstructionAnimate{
  animation: instruction 4s infinite;
}
// .inputInstructionAnimateAlt{
//   animation: instruction 4s infinite;
// }