


// _colors.scss
$white: #FFFFFF;
$black: #000000;

$darkBlue: #1A2238;
$lightBlue: #9DAAF2;
$orange: #FF6A3D;
$yello: #F4DB7D;

$lightGrey: #E8EAE3;
$darkGrey: #373833;
$magenta: #FA2742;

$pinkish: #DE5285;
$blueish: #00A4B4;
$darkGreenishBlue: #133951;
$lightGreenishBlue: #418689;
$yellowish: #fbc134; 