// _fontsStyling.scss

// font-family: 'Niramit', sans-serif;
// font-family: 'Nunito', sans-serif;
// font-family: 'Roboto', sans-serif;

html {
  font-size: 125%;
  line-height: 1.15;
}

h1 {
  font-family: 'Cabin', sans-serif;
  // font-family: 'Albert Sans', sans-serif;
  // font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 5rem;
  
  // text-outline
  // text-shadow:
  //     -1px -1px 0 rgb(153, 0, 255),
  //     1px -1px 0 rgb(253, 0, 241),
  //     -1px 1px 0 rgb(238, 255, 0),
  //     1px 1px 0 rgb(10, 18, 87);
}

.leftBlock h2,
.rightBlock h2{
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  font-size: 7rem;
  color: white;
}


p {
  font-family: 'Niramit', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
}

.mainNav p{
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: white;
}