


// _fontsStyling.scss

// font-family: 'Niramit', sans-serif;
// font-family: 'Nunito', sans-serif;
// font-family: 'Roboto', sans-serif;

html{
  font-size: 125%;
  line-height: 1.15;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: $vsCodeblue;
  span{
    color:$VsCodePurple;
  }
}

h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: $vsCodeWhite;
}
p{
  font-family: 'Niramit', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2rem;
}


a{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
