


// _generalStyling.scss
header,
body,
footer{
  background-color: grey;
}



.wrapper{
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
  background-color: $vsCodeBackgroundGrey;
}



html{
  scroll-behavior: smooth;
}



h2{
  text-align: left;
  padding-left: 13.2%;
}



.afterLine{
  position: relative;
  &::after{
    content: "";
    width: 100%;
    position: absolute;
    border-bottom: 1.5px solid $vsCodeCommentGrey;
    bottom:-5%;
    left: 0;
  }
}


