


// _generalStyling.scss
header,
.bodyDiv,
main,
footer{
  background-color: $vsCodeBlack;
}



.wrapper{
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
  background-color: $vsCodeBackgroundGrey;
}



html{
  scroll-behavior: smooth;
}



h2{
  text-align: left;
  padding-left: 13.2%;
}

.contentTopMargin{
  margin-top: 5.5%;
}

.contentTopPadding{
  padding-top: 5%;
}

.beforeLine{
  position: relative;
  &::before{
    content: "";
    width: 72%;
    position: absolute;
    border-bottom: 1.5px solid $vsCodeCommentGrey;
    top:35%;
    left: 13%;
  }
}

.afterLine,
.shortAfterLine
.beforeLine{
  position: relative;
  &::after{
    content: "";
    width: 100%;
    position: absolute;
    border-bottom: 1.5px solid $vsCodeCommentGrey;
    bottom:-5%;
    left: 0%;
  }
}

.shortAfterLine{
  &::after{
    width:84%;
    left:8%;
  }
}
