


// _home.scss
.headerContainer{
  height: 100vh;
}
.h1FlexParent{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
  height: calc(100vh - 10%);
  text-align: center;
}