


// _projects.scss
.sectionProject{
  padding-bottom: 13%;
  h2{
    padding-top:11%;
  }
  p{
    font-size: .8rem;
    padding: .8% 0 0 16%;
    color: $vsCodeLightRed;
    line-height: 1.1rem;
  }
}