


// _topNav.scss
.indexTopNav{
  padding-left: 5%;
  padding-bottom: 1%;
  ul{
    padding-top: 5%;
    justify-content: left;
  }
  li{
    margin: 0 1%;
  }
  ul{
    li:first-child{
      margin:0;
      margin-right: 1%;
    }
  }

  
  // this overrides built in :: after to align left of line with nav
  &::after{
    width: 95%;
    left:5%;
  }
}



//===== class for top nav bar in initial position =====//
.genaralTopNav{
  ul{
    display: flex;
    p{
      color: $vsCodeCommentGrey;
    }
    li{
      a{
        color: $vsCodeCommentGrey;
      }
      a:visited {
        color: $vsCodeCommentGrey;
      }
      a:hover {
        color: $vsCodeOrange;
        text-decoration: underline;
      }
    }
  }
}
//===== class for top nav bar in fixed position =====//
.fixedTopNav nav{
  background-color: $vsCodeBlack;
  width:80%;
  max-width: 1280px;
  position: fixed;
  top:0;
  z-index: 8;

  // this overrides built in bottom positioning for .afterLine 
  &::after{
    bottom:0;
    width: 100%;
    left:0;
  }

  p,
  p a,
  p a:visited{
    color: $vsCodeWhite;
  }
  
  p a:hover {
    color: $vsCodeOrange;
    text-decoration: underline;
  }
  
  ul{
    justify-content: flex-end;
    padding-top: 1%;
    li{
      margin-right: 2%;
    }
  }
  
}